# dependencies
/node_modules
/sptBundlesTemp
/user
modBundles.zip
main.exe
/artwork
Bundle-Archiver.7z
Bundle-Archiver.zip
Bundle Archiver.7z
Bundle Archiver.zip
Bundle-Archiver-1.0.0.exe
Bundle.Archiver.1.0.0.exe
/assets
/dist